@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Young+Serif&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'Young Serif';
}

body {
    background: radial-gradient(#fcd685, #e0865c);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
    .main-menu {
        padding: 3vh 6vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .logo {
            max-width: 90px;
        }
        .main-menu nav ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        .main-menu nav ul li a {
            color: #fff;
            text-decoration: none;
        }



.container {
    position: relative;
    width: 100%;
}
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0vh 6vw;
    }
    .content .text {
        color: #fff;
    }
    .content .text h2 {
        font-size: 4em;
        font-weight: 500;
        margin-bottom: 1.5vh;
    }
    .content .text h2 span {
        font-weight: bold;
    }
    .content .text p {
        font-size: 1.3em;
        margin-bottom: 1.2vh;
    }

    button {
        border: none;
        border-radius: 50px;
        margin-top: 1vh;
        padding: 15px 35px;
        transition: 0.15s;
    }
    button:hover {
        letter-spacing: 0.8px;
    }
    button a {
        color: #8f3b15;
        font-size: 1.3em;
        font-weight: 700;
        text-decoration: none;
    }

    .slider {
        max-height: 90vh;
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
    }
    img {
        width: 90%;
        /* max-width: 80vw; */
    }
    .slider .slides {
        display: none;
    }
    .slider .slides.default {
        display: block;
    }
    .slider p {
        color: #fff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
    }
    .slider p::before{
        background: #fff;
        content: "";
        width: 50px;
        height: 2px;
    }



footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
    footer nav {
        color: #fff;
        padding: 0vh 6vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5vh;
    }
    footer nav ul {
        list-style: none;
        display: flex;
        gap: 1.5vw;
    }
    footer nav ul li {
        transition: 0.25s;
    }
    footer nav ul li:hover {
        transform: translateY(-8px);
    }
    footer nav ul li a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 2em;
    }

    .prev-next {
        display: flex;
        gap: 10px;
    }
    .prev-next span {
        font-size: 2em;
        width: 45px;
        height: 45px;
        border: 2px solid #fff;
        border-radius: 3px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }



@media (max-width: 992px) {
    .main-menu {
        padding: 3vh 6vw;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20vh 6vw 10vh 6vw;
    }
    .slider {
        margin: 0;
    }
    img {
        max-height: 60vh;
    }
    .slider p {
        width: 100%;
    }

    footer {
        position: relative;
    }
    footer nav {
        padding: 0vh 6vw;
    }


    .navigator {
        display: none;
    }
    .navigator.active {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: #e0865c;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigator.active ul {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .toggle {
        position: relative;
        width: 25px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        cursor: pointer;
    }
    .toggle.active {
        position: fixed;
        right: 6vw;
        z-index: 3;
    }
    .toggle::before {
        background: #fff;
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        box-shadow: 0 16px 0 #fff;
        transform: translateY(-8px);
        transition: 0.25s ease;
    }
    .toggle.active::before {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 0 #fff;
    }
    .toggle::after {
        background: #fff;
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        transition: 0.25s ease;
    }
    .toggle.active::after {
        transform: rotate(-45deg);
        box-shadow: 0 0 0 #fff;
    }

}

@media (max-width: 490px) {
    .content {
        padding-bottom: 3vh;
    }
    .content .text h2 {
        font-size: 3.2em;
        margin-top: 6vh;
    }
    .content .text p {
        font-size: 1.2em;
        margin-bottom: 1vh;
    }
    footer nav {
        flex-direction: column-reverse;
        gap: 5vh;
    }
}